.add-game-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-game-popup-content {
  background: linear-gradient(to right, #1EA3EF, #0064EB);
  padding: 24px;
  border-radius: 32px;
  width: 1600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
}

.add-game-popup-content .close-button {
  background: none;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
}

.add-game-popup-content .close-icon-img {
  width: 32px;
  height: 32px;
}

.add-game-popup-content h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.add-game-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.add-game-form input,
.add-game-form textarea {
  width: 100%;
  height: 67px;
  padding: 16px 32px;
  background: #fff;
  color: #000;
  font-size: 24px;
  border-radius: 55px;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.add-game-form select {
  width: 100%;
  padding: 16px 32px;
  background: #fff;
  color: #000;
  font-size: 24px;
  border-radius: 55px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEuMjYgNi42NjhMMCA3Ljg4Mkw5LjkyIDE3bDkuOTItOS4xMTJMMTguNzQgNi42NjhMOS45MiAxNS4zNnoiIGZpbGw9IiMwMDAiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: right 24px center;
  background-size: 16px 16px;
}

.add-game-form select::-ms-expand {
  display: none;
}

.add-game-form textarea {
  grid-column: span 3;
  padding: 24px 40px;
  min-height: 350px;
  max-height: 350px;
  outline: none;
  border: none;
  resize: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  width: 100%;
  height: 67px;
  padding: 12px 24px;
  background-color: white;
  color: #1EA3EF;
  border-radius: 55px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.add-game-form button {
  display: flex;
  background-color: white;
  color: #1EA3EF;
  padding: 12px;
  width: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  font-size: 24px;
  margin-top: 30px;
  grid-column: 3;
  justify-self: end;
}

.checkbox-group {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: #fff;
  padding: 24px;
  border-radius: 32px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: #000;
}

.checkbox-group input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

.dropdown-container {
  position: relative;
  z-index: 0;
}

.dropdown-label {
  width: 100%;
  max-height: 67px;
  padding: 16px 32px;
  background: #fff;
  color: #000;
  font-size: 24px;
  border-radius: 55px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEuMjYgNi42NjhMMCA3Ljg4Mkw5LjkyIDE3bDkuOTItOS4xMTJMMTguNzQgNi42NjhMOS45MiAxNS4zNnoiIGZpbGw9IiMwMDAiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: right 24px center;
  background-size: 16px 16px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 16px;
}

.dropdown-content label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: #000;
  padding: 8px 0;
}

.dropdown-content input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

@media (max-width: 1600px) {
  .add-game-popup-content {
    width: 90%;
  }

  .add-game-form {
    grid-template-columns: 1fr;
  }

  .add-game-form textarea {
    grid-column: span 1;
  }

  .custom-file-upload {
    grid-column: span 1;
  }

  .add-game-form button {
    grid-column: span 1;
    justify-self: center;
  }

  .dropdown-container {
    grid-column: span 1;
  }
}
